aiohttp
bitsandbytes
sentencepiece
scipy
accelerate
einops
colorama
compel
ftfy
ipyevents
ipywidgets
jupyter-archive
jupyterlab==4.1.6
lion-pytorch
piexif
pyfakefs
pynvml
speedtest-cli
tensorboard==2.16.2
wandb
safetensors
prodigyopt
torchsde
peft
